// Specifies a unique keytab and principal name for each ZooKeeper node
Server {
    com.sun.security.auth.module.Krb5LoginModule required
    useKeyTab=true
    keyTab="{{kerberos.keytab_dir}}/{{zookeeper_kerberos_keytab_path | basename}}"
    storeKey=true
    useTicketCache=false
    principal="{{zookeeper_kerberos_principal}}";
};
