# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

log4j.rootLogger=INFO, stdout, c3Appender

# c3
log4j.appender.c3Appender=org.apache.log4j.RollingFileAppender
log4j.appender.c3Appender.File={{control_center.appender_log_path}}{{control_center.c3appender_log_name}}
log4j.appender.c3Appender.layout=org.apache.log4j.EnhancedPatternLayout
log4j.appender.c3Appender.layout.ConversionPattern=[%d] %p [%t] %m (%c)%n
log4j.appender.c3Appender.MaxBackupIndex={{control_center.c3appender_max_log_files}}
log4j.appender.c3Appender.MaxFileSize={{control_center.c3appender_log_file_size}}
log4j.appender.c3Appender.append=true

# streams
log4j.appender.streamsAppender=org.apache.log4j.RollingFileAppender
log4j.appender.streamsAppender.File={{control_center.appender_log_path}}{{control_center.streamsappender_log_name}}
log4j.appender.streamsAppender.layout=org.apache.log4j.EnhancedPatternLayout
log4j.appender.streamsAppender.layout.ConversionPattern=[%d] %p [%t] %m (%c)%n
log4j.appender.streamsAppender.filter.1=io.confluent.Log4jRateFilter
log4j.appender.streamsAppender.MaxBackupIndex={{control_center.streamsappender_max_log_files}}
log4j.appender.streamsAppender.MaxFileSize={{control_center.streamsappender_log_file_size}}

# will allow everything that is >=level
log4j.appender.streamsAppender.filter.1.level=WARN

# will only allow rate/second logs at <level
log4j.appender.streamsAppender.filter.1.rate=25

log4j.logger.org.apache.kafka.streams=INFO, streamsAppender
log4j.additivity.org.apache.kafka.streams=false

log4j.logger.io.confluent.controlcenter.streams=INFO, streamsAppender
log4j.additivity.io.confluent.controlcenter.streams=false

# kafka
log4j.appender.kafkaAppender=org.apache.log4j.RollingFileAppender
log4j.appender.kafkaAppender.File={{control_center.appender_log_path}}{{control_center.kafkaappender_log_name}}
log4j.appender.kafkaAppender.layout=org.apache.log4j.EnhancedPatternLayout
log4j.appender.kafkaAppender.layout.ConversionPattern=[%d] %p [%t] %m (%c)%n
log4j.appender.kafkaAppender.MaxBackupIndex={{control_center.kafkaappender_max_log_files}}
log4j.appender.kafkaAppender.MaxFileSize={{control_center.kafkaappender_log_file_size}}
log4j.appender.kafkaAppender.append=true

log4j.logger.kafka=INFO, kafkaAppender
log4j.additivity.kafka=false

log4j.logger.org.apache.kafka=INFO, kafkaAppender
log4j.additivity.org.apache.kafka=false

log4j.logger.org.apache.zookeeper=WARN, kafkaAppender
log4j.additivity.org.apache.zookeeper=false

log4j.logger.org.I0Itec.zkclient=WARN, kafkaAppender
log4j.additivity.org.I0Itec.zkclient=false
