[Service]
{% for key, value in control_center_service_overrides.items() %}
{{key}}={{value}}
{% endfor %}
{% for key, value in control_center_service_environment_overrides.items() %}
Environment="{{key}}={{value}}"
{% endfor %}
