# Maintained by Ansible

{% for key, value in kafka_connect.properties.items() %}
{{key}}={{value}}
{% endfor %}

# Kafka Connect Configuration
listeners={{kafka_connect_http_protocol}}://0.0.0.0:{{kafka_connect_rest_port}}
rest.advertised.listener={{kafka_connect_http_protocol}}
rest.advertised.host.name={{inventory_hostname}}
rest.advertised.host.port={{kafka_connect_rest_port}}
{% if kafka_connect_ssl_enabled|bool %}
listeners.{{kafka_connect_http_protocol|lower}}.ssl.keystore.location={{keystore_path}}
listeners.{{kafka_connect_http_protocol|lower}}.ssl.keystore.password={{keystore_storepass}}
listeners.{{kafka_connect_http_protocol|lower}}.ssl.key.password={{keystore_keypass}}
{% if kafka_connect_ssl_mutual_auth_enabled|bool %}
listeners.{{kafka_connect_http_protocol|lower}}.ssl.client.auth=false
listeners.{{kafka_connect_http_protocol|lower}}.ssl.truststore.location={{truststore_path}}
listeners.{{kafka_connect_http_protocol|lower}}.ssl.truststore.password={{truststore_storepass}}
{% endif %}
{% endif %}

# Kafka Broker Configuration
bootstrap.servers={% for host in groups['kafka_broker'] %}{% if loop.index > 1%},{% endif %}{{ host }}:{{kafka_port}}{% endfor %}

security.protocol={{kafka_broker_security_protocol}}
{% if kafka_broker_ssl_enabled|bool %}
ssl.truststore.location={{truststore_path}}
ssl.truststore.password={{truststore_storepass}}
{% if kafka_broker_ssl_mutual_auth_enabled|bool %}
ssl.keystore.location={{keystore_path}}
ssl.keystore.password={{keystore_storepass}}
ssl.key.password={{keystore_keypass}}
{% endif %}
{% endif %}
{% if sasl_protocol == 'kerberos' %}
sasl.mechanism=GSSAPI
sasl.kerberos.service.name={{kerberos_kafka_broker_primary}}
sasl.jaas.config=com.sun.security.auth.module.Krb5LoginModule required \
   useKeyTab=true \
   storeKey=true \
   keyTab="{{kerberos.keytab_dir}}/{{kafka_connect_kerberos_keytab_path | basename}}" \
   principal="{{kafka_connect_kerberos_principal}}";
{% endif %}
{% if sasl_protocol == 'plain' %}
sasl.mechanism=PLAIN
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="client" password="client-secret";
{% endif %}

{% set schema_registries = groups.get('schema_registry', []) %}
{% if schema_registries %}
value.converter.schema.registry.url={% for host in groups['schema_registry'] %}{% if loop.index > 1%},{% endif %}{{ schema_registry_http_protocol }}://{{ host }}:{{ schema_registry_listener_port }}{% endfor %}

key.converter.schema.registry.url={% for host in groups['schema_registry'] %}{% if loop.index > 1%},{% endif %}{{ schema_registry_http_protocol }}://{{ host }}:{{ schema_registry_listener_port }}{% endfor %}

{% endif %}

# Connect Producer Configuration
producer.bootstrap.servers={% for host in groups['kafka_broker'] %}{% if loop.index > 1%},{% endif %}{{ host }}:{{kafka_port}}{% endfor %}

producer.security.protocol={{kafka_broker_security_protocol}}
{% if kafka_broker_ssl_enabled|bool %}
producer.ssl.truststore.location={{truststore_path}}
producer.ssl.truststore.password={{truststore_storepass}}
{% if kafka_broker_ssl_mutual_auth_enabled|bool %}
producer.ssl.keystore.location={{keystore_path}}
producer.ssl.keystore.password={{keystore_storepass}}
producer.ssl.key.password={{keystore_keypass}}
{% endif %}
{% endif %}
{% if sasl_protocol == 'kerberos' %}
producer.sasl.mechanism=GSSAPI
producer.sasl.kerberos.service.name={{kerberos_kafka_broker_primary}}
producer.sasl.jaas.config=com.sun.security.auth.module.Krb5LoginModule required \
   useKeyTab=true \
   storeKey=true \
   keyTab="{{kerberos.keytab_dir}}/{{kafka_connect_kerberos_keytab_path | basename}}" \
   principal="{{kafka_connect_kerberos_principal}}";
{% endif %}
{% if sasl_protocol == 'plain' %}
producer.sasl.mechanism=PLAIN
producer.sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="client" password="client-secret";
{% endif %}

# Connect Consumer Configuration
consumer.bootstrap.servers={% for host in groups['kafka_broker'] %}{% if loop.index > 1%},{% endif %}{{ host }}:{{kafka_port}}{% endfor %}

consumer.security.protocol={{kafka_broker_security_protocol}}
{% if kafka_broker_ssl_enabled|bool %}
consumer.ssl.truststore.location={{truststore_path}}
consumer.ssl.truststore.password={{truststore_storepass}}
{% if kafka_broker_ssl_mutual_auth_enabled|bool %}
consumer.ssl.keystore.location={{keystore_path}}
consumer.ssl.keystore.password={{keystore_storepass}}
consumer.ssl.key.password={{keystore_keypass}}
{% endif %}
{% endif %}
{% if sasl_protocol == 'kerberos' %}
consumer.sasl.mechanism=GSSAPI
consumer.sasl.kerberos.service.name={{kerberos_kafka_broker_primary}}
consumer.sasl.jaas.config=com.sun.security.auth.module.Krb5LoginModule required \
   useKeyTab=true \
   storeKey=true \
   keyTab="{{kerberos.keytab_dir}}/{{kafka_connect_kerberos_keytab_path | basename}}" \
   principal="{{kafka_connect_kerberos_principal}}";
{% endif %}
{% if sasl_protocol == 'plain' %}
consumer.sasl.mechanism=PLAIN
consumer.sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="client" password="client-secret";
{% endif %}

# Producer Monitoring Configuration
producer.confluent.monitoring.interceptor.bootstrap.servers={% for host in groups['kafka_broker'] %}{% if loop.index > 1%},{% endif %}{{ host }}:{{kafka_port}}{% endfor %}

producer.confluent.monitoring.interceptor.security.protocol={{kafka_broker_security_protocol}}
{% if kafka_broker_ssl_enabled|bool %}
producer.confluent.monitoring.interceptor.ssl.truststore.location={{truststore_path}}
producer.confluent.monitoring.interceptor.ssl.truststore.password={{truststore_storepass}}
{% if kafka_broker_ssl_mutual_auth_enabled|bool %}
producer.confluent.monitoring.interceptor.ssl.keystore.location={{keystore_path}}
producer.confluent.monitoring.interceptor.ssl.keystore.password={{keystore_storepass}}
producer.confluent.monitoring.interceptor.ssl.key.password={{keystore_keypass}}
{% endif %}
{% endif %}
{% if sasl_protocol == 'kerberos' %}
producer.confluent.monitoring.interceptor.sasl.mechanism=GSSAPI
producer.confluent.monitoring.interceptor.sasl.kerberos.service.name={{kerberos_kafka_broker_primary}}
producer.confluent.monitoring.interceptor.sasl.jaas.config=com.sun.security.auth.module.Krb5LoginModule required \
   useKeyTab=true \
   storeKey=true \
   keyTab="{{kerberos.keytab_dir}}/{{kafka_connect_kerberos_keytab_path | basename}}" \
   principal="{{kafka_connect_kerberos_principal}}";
{% endif %}
{% if sasl_protocol == 'plain' %}
producer.confluent.monitoring.interceptor.sasl.mechanism=PLAIN
producer.confluent.monitoring.interceptor.sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="client" password="client-secret";
{% endif %}

# Consumer Monitoring Configuration
consumer.confluent.monitoring.interceptor.bootstrap.servers={% for host in groups['kafka_broker'] %}{% if loop.index > 1%},{% endif %}{{ host }}:{{kafka_port}}{% endfor %}

consumer.confluent.monitoring.interceptor.security.protocol={{kafka_broker_security_protocol}}
{% if kafka_broker_ssl_enabled|bool %}
consumer.confluent.monitoring.interceptor.ssl.truststore.location={{truststore_path}}
consumer.confluent.monitoring.interceptor.ssl.truststore.password={{truststore_storepass}}
{% if kafka_broker_ssl_mutual_auth_enabled|bool %}
consumer.confluent.monitoring.interceptor.ssl.keystore.location={{keystore_path}}
consumer.confluent.monitoring.interceptor.ssl.keystore.password={{keystore_storepass}}
consumer.confluent.monitoring.interceptor.ssl.key.password={{keystore_keypass}}
{% endif %}
{% endif %}
{% if sasl_protocol == 'kerberos' %}
consumer.confluent.monitoring.interceptor.sasl.mechanism=GSSAPI
consumer.confluent.monitoring.interceptor.sasl.kerberos.service.name={{kerberos_kafka_broker_primary}}
consumer.confluent.monitoring.interceptor.sasl.jaas.config=com.sun.security.auth.module.Krb5LoginModule required \
   useKeyTab=true \
   storeKey=true \
   keyTab="{{kerberos.keytab_dir}}/{{kafka_connect_kerberos_keytab_path | basename}}" \
   principal="{{kafka_connect_kerberos_principal}}";
{% endif %}
{% if sasl_protocol == 'plain' %}
consumer.confluent.monitoring.interceptor.sasl.mechanism=PLAIN
consumer.confluent.monitoring.interceptor.sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="client" password="client-secret";
{% endif %}
