{% for host in groups.get('schema_registry', []) -%}
{% set schema_registry_port = hostvars[host].get('schema_registry_listener_port', 8081) %}
{% if loop.index > 1%},{% endif %}
http://{{ host }}:{{ schema_registry_port }}/
{%- endfor %}
