[Service]
{% for key, value in schema_registry_service_overrides.items() %}
{{key}}={{value}}
{% endfor %}
{% for key, value in schema_registry_service_environment_overrides.items() %}
{% if value != '' %}
Environment="{{key}}={{value}}"
{% endif %}
{% endfor %}
