# Maintained by Ansible
{% for key, value in schema_registry.properties.items() %}
{{key}}={{value}}
{% endfor %}


# Schema Registry Configuration
listeners={{schema_registry_http_protocol}}://0.0.0.0:{{schema_registry_listener_port}}
host.name={{inventory_hostname}}
inter.instance.protocol={{schema_registry_http_protocol}}
{% if schema_registry_ssl_enabled|bool %}
security.protocol=SSL
ssl.keystore.location={{keystore_path}}
ssl.keystore.password={{keystore_storepass}}
ssl.key.password={{keystore_keypass}}
{% if schema_registry_ssl_mutual_auth_enabled|bool %}
ssl.truststore.location={{truststore_path}}
ssl.truststore.password={{truststore_storepass}}
ssl.client.auth=false
#Set to true if you wish to force Client SSL Authentication
{% endif %}
{% endif %}

# Kafka Broker Configuration
kafkastore.bootstrap.servers={% for host in groups['kafka_broker'] %}{% if loop.index > 1%},{% endif %}{{ host }}:{{kafka_port}}{% endfor %}

kafkastore.security.protocol={{kafka_broker_security_protocol}}
{% if kafka_broker_ssl_enabled|bool %}
kafkastore.ssl.truststore.location={{truststore_path}}
kafkastore.ssl.truststore.password={{truststore_storepass}}
{% if kafka_broker_ssl_mutual_auth_enabled|bool %}
kafkastore.ssl.keystore.location={{keystore_path}}
kafkastore.ssl.keystore.password={{keystore_storepass}}
kafkastore.ssl.key.password={{keystore_keypass}}
{% endif %}
{% endif %}
{% if sasl_protocol == 'plain' %}
kafkastore.sasl.mechanism=PLAIN
kafkastore.sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="client" password="client-secret";
{% endif %}
{% if sasl_protocol == 'kerberos' %}
kafkastore.sasl.mechanism=GSSAPI
kafkastore.sasl.kerberos.service.name={{kerberos_kafka_broker_primary}}
kafkastore.sasl.jaas.config=com.sun.security.auth.module.Krb5LoginModule required \
   useKeyTab=true \
   storeKey=true \
   keyTab="{{kerberos.keytab_dir}}/{{schema_registry_kerberos_keytab_path | basename}}" \
   principal="{{schema_registry_kerberos_principal}}";
{% endif %}
