[logging]
 default = FILE:/var/log/krb5libs.log
 kdc = FILE:/var/log/krb5kdc.log
 admin_server = FILE:/var/log/kadmind.log

[libdefaults]
 default_realm = {{ kerberos.realm|upper() }}
 dns_lookup_realm = {{ kerberos.dns_lookup_realm }}
 dns_lookup_kdc = {{ kerberos.dns_lookup_kdc }}
 ticket_lifetime = {{ kerberos.ticket_lifetime }}
 renew_lifetime = {{ kerberos.renew_lifetime }}
 forwardable = {{ kerberos.forwardable }}
 udp_preference_limit = {{ kerberos.udp_preference_limit }}
 default_tkt_enctypes = {{ kerberos.default_tkt_enctypes }}
 default_tgs_enctypes = {{ kerberos.default_tgs_enctypes }}
 permitted_enctypes = {{ kerberos.permitted_enctypes }}

[realms]
 {{ kerberos.realm| upper() }} = {
  kdc = {{ kerberos.kdc_hostname }}:88
  admin_server = {{ kerberos.admin_hostname }}:749
  default_domain = {{ kerberos.realm|lower() }}
 }

[domain_realm]
 .{{ kerberos.realm|lower() }} = {{ kerberos.realm|upper() }}
  {{ kerberos.realm|lower() }} = {{ kerberos.realm|upper() }}
